.news_banner{
    border-radius: 20px;
    max-width: 1000px;
    object-fit: cover;
    margin: 0 auto 50px;
    display: block;
}
.news_post{
    display: flex;
    align-items: center;
    padding: 20px;
    box-shadow: 0px 0px 20px 0px rgba(255,255,255,1);
}
.news_post:not(:last-child){
    margin-bottom: 50px;
}
.news_post_image{
    border-radius: 10px;
    width: 250px;
    object-fit: cover;
    margin-right: 50px;
}
@media(max-width: 768px){
    .news_post{
        flex-wrap: wrap;
    }
    .news_post_image{
        width: 100%;
        margin-right: 0;
        margin-bottom: 30px;
    }
}